* {
    margin: 0;
    padding: 0;
}

/* COMIENZO TARJETA CONTAINER 1 */



.tarjetaContenedor1 {

    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 350px;
    
    }
    
    .tarjetaContenedor1 .tarjeta1 {
        
        font-family: 'Quicksand', sans-serif;
        background-color:    #fcf3cf;
        width: 1200px;
        height: 730px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
        
    
    }
    
    .tarjetaContenedor1 .tarjeta1:hover {
    
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    
    }
    
    .tarjetaContenedor1 .tarjeta1 img {
    
        width: 1200px;
        height: 550px;
    
    }
    
    .tarjetaContenedor1 .tarjeta1 h4 {
    
        font-weight: 600;
    }
    
    .tarjetaContenedor1 .tarjeta1 p {
    
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
    
    }
    
    .tarjetaContenedor1 .tarjeta1 a {
        font-weight: 500;
        text-decoration: none;
        color: #3498db;
    }

/* FIN TARJETA CONTAINER 1 */

/* COMIENZO TARJETA CONTAINER 2*/

.tarjetaContenedor2 {

    width: 100%;
    max-width: 1500px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    
    }
    
    .tarjetaContenedor2 .tarjeta2 {
        
        font-family: 'Quicksand', sans-serif;
        background-color:    #fcf3cf;
        width: 1500px;
        height: 100px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
        display: inline-flex;
        
    
    }
    
    .tarjetaContenedor2 .tarjeta2:hover {
    
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    
    }
    
    .tarjetaContenedor2 .tarjeta2 img {
    
        width: 100px;
        height: 100px;
    
    }
    
    .tarjetaContenedor2 .tarjeta2 h4 {
        
        margin-top: 15px;
        font-weight: 400;
    }
    
    .tarjetaContenedor2 .tarjeta2 p {
        
        
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
        
    
    }
    
    .button2 {
        
        margin-top: 25px;
        justify-content: center;
        border-radius: 8px;
        height: 45px;
        font-size: 15px;
        background-color: rosybrown;
    }

    .precio2 {
        width: 100px;
        margin-top: 35px;
    }

/* FIN TARJETA CONTAINER 2 */

/*COMIENZO PROMO */
.wavy {

    text-align: center;
    
    margin-top: 15px;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0,0,0,0.2));

}

.wavy span {

    position: relative;
    display: inline-block;
    color: #fcf3cf;
    font-size: 2em;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
            transform: translateY(0px);
    } 
       20% {
        transform: translateY(-20px);
    }
    40%,100% {
        transform: translateY(0px);
    }
}

/*FIN PROMO*/

/* COMIENZO TARJETA CONTAINER */

.tarjetaContenedor {

    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 250px;
    
    }
    
    .tarjetaContenedor .tarjeta {
        
        font-family: 'Quicksand', sans-serif;
        background-color:    #fcf3cf;
        width: 530px;
        height: 630px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
        
    
    }
    
    .tarjetaContenedor .tarjeta:hover {
    
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    
    }
    
    .tarjetaContenedor .tarjeta img {
    
        width: 530px;
        height: 420px;
    
    }
    
    .tarjetaContenedor .tarjeta h4 {
    
        font-weight: 600;
    }
    
    .tarjetaContenedor .tarjeta p {
    
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
    
    }
    
    .tarjetaContenedor .tarjeta a {
        font-weight: 500;
        text-decoration: none;
        color: #3498db;
    }

/* FIN TARJETA CONTAINER */


.nav-link1 {

    color: white;

}

.nav-item{

    color: white;
}

.video {
    width: 500px;
    height: 480px;
    padding-left: 5px;
}

.tituloMain {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    
   
}
/*COMIENZO DISEÑO FOOTER*/
footer {
    
    width: 100%;
    background-image: linear-gradient(to right,   #e53935  ,#ef9a9a);
    color: white;
    font-family:  'Quicksand', sans-serif;
    
        



}

.footerCelu {
        
        
    text-decoration: none;
    color: white;
}

footer h6 {
    margin-top: 10px;
}


/*ACA TERMINA EL DISEÑO DEL FOOTER */


/*color de fondo*/
.fondo {
    background-image: url("../img/madera1.png");
    background-repeat: repeat-y;
    background-size: 120%;
    padding: 100px 0px 0px;
    display: flex;

}



/*titulos principales*/
.titulosImportantes {

    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 250%;



    text-align: center;
}


/*NAV MENU*/

.header1 {
    background-image: linear-gradient(to right,   #e53935  ,#ef9a9a);
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    font-family: 'Quicksand', sans-serif;
    z-index: 99;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    

}

.navLink{
    color: white;
    text-decoration: none;
}

.logo {
    width: 180px;
    height: 80px;
    padding: 5px 40px;
    line-height: 100px;
}

.navMenu {
    display: flex;
    margin-right: 40px;
    list-style: none;
    margin-left: 30%;
}

.navMenuItem {
    font-size: 18px;
    margin: 0 10px;
    line-height: 100px;
    text-transform: uppercase;
    width: max-content;
    
}

.navMenuLink{
    padding: 8px 12px;
    border-radius: 4px;

}

.navMenuLink:hover {
    background-color: #FF8361;
    transition: 0.3s;
    
}

.nav li:hover > ul {
    display: block;
}

.subMenuUl {
    list-style: none;
    background-color: #FF6961;
    display: none;
    position: absolute;
    border-style: solid;
    border-color: #FFB861;
    border-bottom: 2pxpx;

}

.subMenuLink:hover{
    background-color: #FF8361;
    transition: 0.3s;
}
.subMenuLink {
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 8px 12px;
    display: block;
    border-radius: 4px;
}





/*termina el nav menu*/







/*titulo productos*/



.tituloProducto {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 250%;
    letter-spacing: 12px;
    text-transform: capitalize;

    text-align: center;
}

/* INDEX MAIN */
.mainIndex {
display: flex;
justify-content: space-between;
flex-direction: column;
width: 100%;
height: 100%;


}
.tamImagen{

    height: 500px;
    width: 600px;
    
}

.parrafoIndex {


    padding-left: 80px;
    font-size: 20px;
    padding-right: 200px;
    padding-bottom: 80px;
    font-family: 'Quicksand', sans-serif;
    
}

.articleTitulo {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;

}
.articleIndex {
    
    display: flex;
    padding-top: 100px;
    padding-bottom: 80px;
    padding-left: 200px;
    
    
    
    
}



/*fin index main*/ 





/*titulo movil */

.tituloMovil{
    
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 40px;
    line-height: 40px;
    
    background-image: linear-gradient(to right,   #e53935  ,#ef9a9a);
    overflow: hidden;
    
    font-family: 'Quicksand', sans-serif;


}

.ulMovil {
    
    list-style: none;
    padding-left: 20px;
    margin: 0;
    animation: cambiar 12s infinite;
    
}

.pMovil {
    margin: 0;
    font-size: 40px;
    display: flex;
}

@keyframes cambiar {

    0%{margin-top: 0;}
    20%{margin-top: 0;}

    25%{margin-top: -40px;}
    50%{margin-top: -40px;}

    55%{margin-top: -80px;}
    80%{margin-top: -80px;}

    85%{margin-top: -40px;}
    95%{margin-top: -40px;}

    100%{margin-top: 0;}


}

.imgRedonda {
    border-radius: 50%;
}

.imgProducto {

    height: 100px;
    width: 100px;

}

.imgRedonda:hover {
    transform: scale(1.2);
    border-radius: 10%;
}

.imgPagos {
    align-items: center;
    margin-left: 30px;
    width: 500px;
    
}

.precio {
    padding-right: 50px;
}

/* CONTACTO */

.divForm {

    font-family: 'Quicksand', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;

}

.imgCarousel{

    width: 640px;
    height: 480px;
    padding-bottom: 25px;
    padding-left: 20%;
    padding-right: 20%;

}

.divCarousel {
    padding-left: 20%;
    padding-right: 20%;
}


.hamburguesa {
    background-image: linear-gradient(to right,   #e53935  ,#ef9a9a);
    font-family:  'Quicksand', sans-serif;
    font-size: 23px;
    
}

.hamburItem {
    color: white;
}

@media (min-width: 350px) and (max-width: 574px) {

    /* MAIN CELU*/

    /* COMIENZO TARJETA MAIN CELU*/
    .tarjetaContenedor {

        width: 100%;
        max-width: 1200px;
        height: 430px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        margin-bottom: 80px;
        
        }
        
        .tarjetaContenedor .tarjeta {
        
            width: 330px;
            height: 470px;
            border-radius: 8px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            margin: 20px;
            text-align: center;
            transition: all 0.25s;
        
        }
        
        .tarjetaContenedor .tarjeta:hover {
        
            transform: translateY(-15px);
            box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
        
        }
        
        .tarjetaContenedor .tarjeta img {
        
            width: 330px;
            height: 220px;
        
        }
        
        .tarjetaContenedor .tarjeta h4 {
        
            font-weight: 600;
        }
        
        .tarjetaContenedor .tarjeta p {
        
            padding: 0 1rem;
            font-size: 16px;
            font-weight: 300;
        
        }
        
        .tarjetaContenedor .tarjeta a {
            font-weight: 500;
            text-decoration: none;
            color: #3498db;
        }


        /*FIN TARJETA MAIN CELU*/

        /* COMIENZO TARJETA CONTAINER 1 CELU */

.tarjetaContenedor1 {

    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 80px;
    
    }
    
    .tarjetaContenedor1 .tarjeta1 {
        
        font-family: 'Quicksand', sans-serif;
        background-color:    #fcf3cf;
        width: 330px;
        height: 470px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
        
    
    }
    
    .tarjetaContenedor1 .tarjeta1:hover {
    
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    
    }
    
    .tarjetaContenedor1 .tarjeta1 img {
    
        width: 330px;
        height: 220px;
    
    }
    
    .tarjetaContenedor1 .tarjeta1 h4 {
    
        font-weight: 600;
    }
    
    .tarjetaContenedor1 .tarjeta1 p {
    
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
    
    }
    
    .tarjetaContenedor1 .tarjeta1 a {
        font-weight: 500;
        text-decoration: none;
        color: #3498db;
    }

/* FIN TARJETA CONTAINER 1 CELU */

/* COMIENZO TARJETA CONTAINER 2 CELU*/
.tarjetaContenedor2 {

    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 100px;
    
    }
    
    .tarjetaContenedor2 .tarjeta2 {
        
        font-family: 'Quicksand', sans-serif;
        background-color:    #fcf3cf;
        width: 330px;
        height: 450px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 5px;
        text-align: center;
        transition: all 0.25s;
        display: block;
        
    
    }
    
    .tarjetaContenedor2 .tarjeta2:hover {
    
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    
    }
    
    .tarjetaContenedor2 .tarjeta2 img {
    
        width: 100px;
        height: 100px;
    
    }
    
    .tarjetaContenedor2 .tarjeta2 h4 {
    
        font-weight: 600;
    }
    
    .tarjetaContenedor2 .tarjeta2 p {
        
 
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
    
    }
    
    .tarjetaContenedor2 .tarjeta2 a {
        font-weight: 500;
        text-decoration: none;
        color: #3498db;
    }

    .precio2 {
        margin-left: 112px;
    }

/* FIN TARJETA CONTAINER 2 CELU*/

    .imgPagos{

    width: 250px;
    height: 50px;

    }


    .video {
    width: 320px;
    height: 180px;
    padding-left: 3px;
    padding-top: 5px;
}

    .imgCarousel{

        width: 120px;
        height: 240px;
        padding-bottom: 25px;
    }

    .tituloMain {
        font-family: 'Quicksand', sans-serif;
        font-size: 40px;
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }
   
   


    .tituloMovil{
        
        margin-top: -40px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40px;
        color: white;
        font-size: 25px;
        line-height: 40px;
        
        background-image: linear-gradient(to right,   #e53935  ,#ef9a9a);
        overflow: hidden;
        
        font-family: 'Quicksand', sans-serif;
    
    
    }
    
    .ulMovil {
        
        list-style: none;
        padding-left: 10px;
        
        margin: 0;
        animation: cambiar 12s infinite;
        
    }
    
    .pMovil {
        
        
        margin: 0;
        font-size: 25px;
        display: flex;
        
    }
    
    @keyframes cambiar {
    
        0%{margin-top: 0;}
        20%{margin-top: 0;}
    
        25%{margin-top: -40px;}
        50%{margin-top: -40px;}
    
        55%{margin-top: -80px;}
        80%{margin-top: -80px;}
    
        85%{margin-top: -40px;}
        95%{margin-top: -40px;}
    
        100%{margin-top: 0;}
    
    
    }

    .hamburguesa {
        background-image: linear-gradient(to right,   #e53935  ,#ef9a9a);
        font-family:  'Quicksand', sans-serif;
        font-size: 23px;
        max-width: auto;
        
    }

    .fondo{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-image: url("../img/madera1.png");
        background-repeat: repeat-y;
        background-size: 120%;
        padding: 100px 0px 0px;
        width: 100%;
        
        
        }
    .tamImagen{
            
            height: 250px;
            width: 99%;
            
            
        }
        
    .parrafoIndex {
            padding-left: 40px;
            font-size: 15px;
            padding-right: 10px;
            padding-bottom: 10px;
            
        }
        
    .articleTitulo {
            display: flex;
            margin-left: 20%;
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    .articleIndex {
            
            display: block;
            padding-bottom: 80px;
            padding-left: 2px;
            
            
            
        }

        .imgRedonda {

            
            border-radius: 0;
        }
        /* FIN MAIN CELU*/ 

        /*HEADER CELU*/
        .header1 {
            background-color: #FF6961;
            height: 60px;
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            
        }
        
        .nav1 {
            display: flex;
            justify-content: space-between;
            max-width: auto;
            
        
        }
        
        .navLink{
            color: white;
            text-decoration: none;
        }
        
        .logo {
            width: 100px;
            height: 40px;
            padding: 5px 5px;
            line-height: 50px;
        }

        
        
        .navMenu {
            display:block;
            margin-right: 250px;
            list-style: none;
            margin-left: 0;
            background-color: #FF6961;
        }
        
        .navMenuItem {
            font-size: 15px;
            margin:0;
            line-height: 100px;
            text-transform: uppercase;
            width: max-content;
            
        }
        
        .navMenuLink{
            padding: 3px 3px;
            border-radius: 4px;
        
        }
        
        .navMenuLink:hover {
            background-color: #FF8361;
            transition: 0.3s;
            
        }
        
        .nav li:hover > ul {
            display: block;
        }
        
        .subMenuUl {
            list-style: none;
            background-color: #FF6961;
            display: none;
            position: absolute;
            border-style: solid;
            border-color: #FFB861;
            border-bottom: 2px;
        
        }
        
        .subMenuLink:hover{
            background-color: #FF8361;
            transition: 0.3s;
        }
        .subMenuLink {
            text-decoration: none;
            font-size: 18px;
            color: white;
            padding: 8px 12px;
            display: block;
            border-radius: 4px;
        }
        /*FIN HEADER CELU*/

       

        /*FOOTER CELU*/

        footer{
            font-size: 13px;
        }

    .footerCelu {
        
        
        text-decoration: none;
        color: white;
    }


}

@media (min-width: 575px) and (max-width: 672px) {

    .header1 {
        max-width: 100%;
    }
    
        /*titulo movil */
    
        .hamburguesa {
            background-image: linear-gradient(to right,   #e53935  ,#ef9a9a);
            font-family:  'Quicksand', sans-serif;
            font-size: 23px;
            max-width: 100%;
            
        }
    .tituloMovil{
        
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40px;
        color: white;
        font-size: 40px;
        line-height: 40px;
        
        background-image: linear-gradient(to right,   #e53935  ,#ef9a9a);
        overflow: hidden;
        
        font-family: 'Quicksand', sans-serif;
    
    
    }
    
    .ulMovil {
        
        list-style: none;
        padding-left: 20px;
        margin: 0;
        animation: cambiar 12s infinite;
        
    }
    
    .pMovil {
        margin: 0;
        font-size: 40px;
        display: flex;
    }
    
    @keyframes cambiar {
    
        0%{margin-top: 0;}
        20%{margin-top: 0;}
    
        25%{margin-top: -40px;}
        50%{margin-top: -40px;}
    
        55%{margin-top: -80px;}
        80%{margin-top: -80px;}
    
        85%{margin-top: -40px;}
        95%{margin-top: -40px;}
    
        100%{margin-top: 0;}
    
    
    }
     /* MAIN TABLET*/
    
    
    
    footer{
        width: 100%;
    }
    
     .fondo{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-image: url("../img/madera1.png");
        background-repeat: repeat-y;
        background-size: 120%;
        padding: 100px 0px 0px;
        width: 100%;
        
        
        }
    
     .mainIndex {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        
        
        }
        .tamImagen{
            
            height: 350px;
            width: 350px;
            padding-left: 40px;
            
        }
        
        .parrafoIndex {
            padding-left: 40px;
            font-size: 15px;
            padding-right: 10px;
            padding-bottom: 10px;
            
        }
        
        .articleTitulo {
            display: flex;
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .articleIndex {
            
            display: flex;
            padding-bottom: 80px;
            padding-left: 20px;
            
            
            
        }
        /* FIN MAIN TABLET*/ 
    
        /* COMIENZO TARJETA CONTAINER tablet*/
    
    .tarjetaContenedor {
    
        width: 100%;
        max-width: 768px;
        height: 430px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        margin-bottom: 250px;
        
        }
        
        .tarjetaContenedor .tarjeta {
            
            font-family: 'Quicksand', sans-serif;
            background-color:    #fcf3cf;
            width: 530px;
            height: 630px;
            border-radius: 8px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            margin: 20px;
            text-align: center;
            transition: all 0.25s;
            margin-left: 20%;
            
        
        }
        
        .tarjetaContenedor .tarjeta:hover {
        
            transform: translateY(-15px);
            box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
        
        }
        
        .tarjetaContenedor .tarjeta img {
        
            width: 530px;
            height: 420px;
            
        
        }
        
        .tarjetaContenedor .tarjeta h4 {
        
            font-weight: 600;
        }
        
        .tarjetaContenedor .tarjeta p {
        
            padding: 0 1rem;
            font-size: 16px;
            font-weight: 300;
        
        }
        
        .tarjetaContenedor .tarjeta a {
            font-weight: 500;
            text-decoration: none;
            color: #3498db;
        }
    
        .tarjetaContenedor1 {
    
            width: 100%;
            max-width: 768px;
            height: 430px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            margin-bottom: 250px;
            
            }
            
            .tarjetaContenedor1 .tarjeta1 {
                
                font-family: 'Quicksand', sans-serif;
                background-color:    #fcf3cf;
                width: 530px;
                height: 630px;
                border-radius: 8px;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
                overflow: hidden;
                margin: 20px;
                text-align: center;
                transition: all 0.25s;
                margin-left: 150px;
                
            
            }
            
            .tarjetaContenedor1 .tarjeta1:hover {
            
                transform: translateY(-15px);
                box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
            
            }
            
            .tarjetaContenedor1 .tarjeta1 img {
            
                width: 530px;
                height: 420px;
                
            
            }
            
            .tarjetaContenedor1 .tarjeta1 h4 {
            
                font-weight: 600;
            }
            
            .tarjetaContenedor1 .tarjeta1 p {
            
                padding: 0 1rem;
                font-size: 16px;
                font-weight: 300;
            
            }
            
            .tarjetaContenedor1 .tarjeta1 a {
                font-weight: 500;
                text-decoration: none;
                color: #3498db;
            }
    
          
    .tarjetaContenedor2 {
    
        width: 100%;
        max-width: 1200px;
        height: 430px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        margin-bottom: 100px;
        
        }
        
        .tarjetaContenedor2 .tarjeta2 {
            
            font-family: 'Quicksand', sans-serif;
            background-color:    #fcf3cf;
            width: 330px;
            height: 450px;
            border-radius: 8px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            margin: 5px;
            text-align: center;
            transition: all 0.25s;
            display: block;
            
        
        }
        
        .tarjetaContenedor2 .tarjeta2:hover {
        
            transform: translateY(-15px);
            box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
        
        }
        
        .tarjetaContenedor2 .tarjeta2 img {
        
            width: 100px;
            height: 100px;
        
        }
        
        .tarjetaContenedor2 .tarjeta2 h4 {
        
            font-weight: 600;
        }
        
        .tarjetaContenedor2 .tarjeta2 p {
            
     
            padding: 0 1rem;
            font-size: 16px;
            font-weight: 300;
        
        }
        
        .tarjetaContenedor2 .tarjeta2 a {
            font-weight: 500;
            text-decoration: none;
            color: #3498db;
        }
    
        .precio2 {
            margin-left: 112px;
        }
    
    
        
    /* FIN TARJETA CONTAINER tablet */
    
    
    
    }

    @media (min-width: 673px) and (max-width: 1000px) {

        .header1 {
            max-width: 100%;
        }
        
            /*titulo movil */
        
            .hamburguesa {
                background-image: linear-gradient(to right,   #e53935  ,#ef9a9a);
                font-family:  'Quicksand', sans-serif;
                font-size: 23px;
                max-width: 100%;
                
            }
        .tituloMovil{
            
            display: flex;
            justify-content: center;
            width: 100%;
            height: 40px;
            color: white;
            font-size: 40px;
            line-height: 40px;
            
            background-image: linear-gradient(to right,   #e53935  ,#ef9a9a);
            overflow: hidden;
            
            font-family: 'Quicksand', sans-serif;
        
        
        }
        
        .ulMovil {
            
            list-style: none;
            padding-left: 20px;
            margin: 0;
            animation: cambiar 12s infinite;
            
        }
        
        .pMovil {
            margin: 0;
            font-size: 40px;
            display: flex;
        }
        
        @keyframes cambiar {
        
            0%{margin-top: 0;}
            20%{margin-top: 0;}
        
            25%{margin-top: -40px;}
            50%{margin-top: -40px;}
        
            55%{margin-top: -80px;}
            80%{margin-top: -80px;}
        
            85%{margin-top: -40px;}
            95%{margin-top: -40px;}
        
            100%{margin-top: 0;}
        
        
        }
         /* MAIN TABLET*/
        
        
        
        footer{
            width: 100%;
        }
        
         .fondo{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            background-image: url("../img/madera1.png");
            background-repeat: repeat-y;
            background-size: 120%;
            padding: 100px 0px 0px;
            width: 100%;
            
            
            }
        
         .mainIndex {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            
            
            
            }
            .tamImagen{
                
                height: 400px;
                width: 400px;
                padding-left: 40px;
                
            }
            
            .parrafoIndex {
                padding-left: 40px;
                font-size: 15px;
                padding-right: 10px;
                padding-bottom: 10px;
                
            }
            
            .articleTitulo {
                display: flex;
                justify-content: center;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .articleIndex {
                
                display: flex;
                padding-bottom: 80px;
                padding-left: 20px;
                
                
                
            }
            /* FIN MAIN TABLET*/ 
        
            /* COMIENZO TARJETA CONTAINER tablet*/
        
        .tarjetaContenedor {
        
            width: 100%;
            max-width: 768px;
            height: 430px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            margin-bottom: 250px;
            
            }
            
            .tarjetaContenedor .tarjeta {
                
                font-family: 'Quicksand', sans-serif;
                background-color:    #fcf3cf;
                width: 530px;
                height: 630px;
                border-radius: 8px;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
                overflow: hidden;
                margin: 20px;
                text-align: center;
                transition: all 0.25s;
                margin-left: 150px;
                
            
            }
            
            .tarjetaContenedor .tarjeta:hover {
            
                transform: translateY(-15px);
                box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
            
            }
            
            .tarjetaContenedor .tarjeta img {
            
                width: 530px;
                height: 420px;
                
            
            }
            
            .tarjetaContenedor .tarjeta h4 {
            
                font-weight: 600;
            }
            
            .tarjetaContenedor .tarjeta p {
            
                padding: 0 1rem;
                font-size: 16px;
                font-weight: 300;
            
            }
            
            .tarjetaContenedor .tarjeta a {
                font-weight: 500;
                text-decoration: none;
                color: #3498db;
            }
        
            .tarjetaContenedor1 {
        
                width: 100%;
                max-width: 768px;
                height: 430px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: auto;
                margin-bottom: 250px;
                
                }
                
                .tarjetaContenedor1 .tarjeta1 {
                    
                    font-family: 'Quicksand', sans-serif;
                    background-color:    #fcf3cf;
                    width: 530px;
                    height: 630px;
                    border-radius: 8px;
                    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
                    overflow: hidden;
                    margin: 20px;
                    text-align: center;
                    transition: all 0.25s;
                    margin-left: 150px;
                    
                
                }
                
                .tarjetaContenedor1 .tarjeta1:hover {
                
                    transform: translateY(-15px);
                    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
                
                }
                
                .tarjetaContenedor1 .tarjeta1 img {
                
                    width: 530px;
                    height: 420px;
                    
                
                }
                
                .tarjetaContenedor1 .tarjeta1 h4 {
                
                    font-weight: 600;
                }
                
                .tarjetaContenedor1 .tarjeta1 p {
                
                    padding: 0 1rem;
                    font-size: 16px;
                    font-weight: 300;
                
                }
                
                .tarjetaContenedor1 .tarjeta1 a {
                    font-weight: 500;
                    text-decoration: none;
                    color: #3498db;
                }
        
              
        .tarjetaContenedor2 {
        
            width: 100%;
            max-width: 1200px;
            height: 430px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            margin-bottom: 100px;
            
            }
            
            .tarjetaContenedor2 .tarjeta2 {
                
                font-family: 'Quicksand', sans-serif;
                background-color:    #fcf3cf;
                width: 330px;
                height: 450px;
                border-radius: 8px;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
                overflow: hidden;
                margin: 5px;
                text-align: center;
                transition: all 0.25s;
                display: block;
                
            
            }
            
            .tarjetaContenedor2 .tarjeta2:hover {
            
                transform: translateY(-15px);
                box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
            
            }
            
            .tarjetaContenedor2 .tarjeta2 img {
            
                width: 100px;
                height: 100px;
            
            }
            
            .tarjetaContenedor2 .tarjeta2 h4 {
            
                font-weight: 600;
            }
            
            .tarjetaContenedor2 .tarjeta2 p {
                
         
                padding: 0 1rem;
                font-size: 16px;
                font-weight: 300;
            
            }
            
            .tarjetaContenedor2 .tarjeta2 a {
                font-weight: 500;
                text-decoration: none;
                color: #3498db;
            }
        
            .precio2 {
                margin-left: 112px;
            }
        
        
            
        /* FIN TARJETA CONTAINER tablet */
        
        
        
        }
@media (min-width: 1001px) and (max-width: 1328px) {

.header1 {
    max-width: 100%;
}

    /*titulo movil */

    .hamburguesa {
        background-image: linear-gradient(to right,   #e53935  ,#ef9a9a);
        font-family:  'Quicksand', sans-serif;
        font-size: 23px;
        max-width: 100%;
        
    }
.tituloMovil{
    
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 40px;
    line-height: 40px;
    
    background-image: linear-gradient(to right,   #e53935  ,#ef9a9a);
    overflow: hidden;
    
    font-family: 'Quicksand', sans-serif;


}

.ulMovil {
    
    list-style: none;
    padding-left: 20px;
    margin: 0;
    animation: cambiar 12s infinite;
    
}

.pMovil {
    margin: 0;
    font-size: 40px;
    display: flex;
}

@keyframes cambiar {

    0%{margin-top: 0;}
    20%{margin-top: 0;}

    25%{margin-top: -40px;}
    50%{margin-top: -40px;}

    55%{margin-top: -80px;}
    80%{margin-top: -80px;}

    85%{margin-top: -40px;}
    95%{margin-top: -40px;}

    100%{margin-top: 0;}


}
 /* MAIN TABLET*/



footer{
    width: 100%;
}

 .fondo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url("../img/madera1.png");
    background-repeat: repeat-y;
    background-size: 120%;
    padding: 100px 0px 0px;
    width: 100%;
    
    
    }

 .mainIndex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    
    
    }
    .tamImagen{
        
        height: 400px;
        width: 400px;
        padding-left: 40px;
        
    }
    
    .parrafoIndex {
        padding-left: 40px;
        font-size: 15px;
        padding-right: 10px;
        padding-bottom: 10px;
        
    }
    
    .articleTitulo {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .articleIndex {
        
        display: flex;
        padding-bottom: 80px;
        padding-left: 20px;
        
        
        
    }
    /* FIN MAIN TABLET*/ 

    /* COMIENZO TARJETA CONTAINER tablet*/

.tarjetaContenedor {

    width: 100%;
    max-width: 768px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 250px;
    
    }
    
    .tarjetaContenedor .tarjeta {
        
        font-family: 'Quicksand', sans-serif;
        background-color:    #fcf3cf;
        width: 530px;
        height: 630px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
        margin-left: 150px;
        
    
    }
    
    .tarjetaContenedor .tarjeta:hover {
    
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    
    }
    
    .tarjetaContenedor .tarjeta img {
    
        width: 530px;
        height: 420px;
        
    
    }
    
    .tarjetaContenedor .tarjeta h4 {
    
        font-weight: 600;
    }
    
    .tarjetaContenedor .tarjeta p {
    
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
    
    }
    
    .tarjetaContenedor .tarjeta a {
        font-weight: 500;
        text-decoration: none;
        color: #3498db;
    }

    .tarjetaContenedor1 {

        width: 100%;
        max-width: 768px;
        height: 430px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        margin-bottom: 250px;
        
        }
        
        .tarjetaContenedor1 .tarjeta1 {
            
            font-family: 'Quicksand', sans-serif;
            background-color:    #fcf3cf;
            width: 530px;
            height: 630px;
            border-radius: 8px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            margin: 20px;
            text-align: center;
            transition: all 0.25s;
            margin-left: 150px;
            
        
        }
        
        .tarjetaContenedor1 .tarjeta1:hover {
        
            transform: translateY(-15px);
            box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
        
        }
        
        .tarjetaContenedor1 .tarjeta1 img {
        
            width: 530px;
            height: 420px;
            
        
        }
        
        .tarjetaContenedor1 .tarjeta1 h4 {
        
            font-weight: 600;
        }
        
        .tarjetaContenedor1 .tarjeta1 p {
        
            padding: 0 1rem;
            font-size: 16px;
            font-weight: 300;
        
        }
        
        .tarjetaContenedor1 .tarjeta1 a {
            font-weight: 500;
            text-decoration: none;
            color: #3498db;
        }

      
.tarjetaContenedor2 {

    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 100px;
    
    }
    
    .tarjetaContenedor2 .tarjeta2 {
        
        font-family: 'Quicksand', sans-serif;
        background-color:    #fcf3cf;
        width: 330px;
        height: 450px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 5px;
        text-align: center;
        transition: all 0.25s;
        display: block;
        
    
    }
    
    .tarjetaContenedor2 .tarjeta2:hover {
    
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    
    }
    
    .tarjetaContenedor2 .tarjeta2 img {
    
        width: 100px;
        height: 100px;
    
    }
    
    .tarjetaContenedor2 .tarjeta2 h4 {
    
        font-weight: 600;
    }
    
    .tarjetaContenedor2 .tarjeta2 p {
        
 
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
    
    }
    
    .tarjetaContenedor2 .tarjeta2 a {
        font-weight: 500;
        text-decoration: none;
        color: #3498db;
    }

    .precio2 {
        margin-left: 112px;
    }


    
/* FIN TARJETA CONTAINER tablet */



}